<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil - NutriTrack</title>
    <link rel="stylesheet" href="/styles/output.css" />
  </head>
  <body class="bg-gray-50">
    <!-- Header -->
    <header class="bg-white shadow-sm">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center py-6">
          <div class="flex items-center">
            <h1 class="text-2xl font-bold text-gray-900">NutriTrack</h1>
          </div>
        </div>
      </div>
    </header>
    <main class="=">
      <div></div>
      <section>
      </section>
    </main>
  </body>
</html>
